@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling scrollbar halus */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f8fafc;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.badge-glow {
  box-shadow: 0 0 15px rgba(220, 38, 38, 0.25);
}
